@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-Heading: 'Etna', sans-serif;
  --font-Body: 'Poppins', sans-serif;
  --color-Black: #000000;
  --color-White: #ffffff;
  --color-Yellow: #fed857;
  --color-Grey: #f5f5f5;
  --color-Grey-dark: #4a4a4a;
}

@font-face {
  font-family: 'Etna';
  src: url('/fonts/etna.otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.hide-mobile {
  display: none;
}

@media (min-width: 769px) {
  .hide-mobile {
    display: block;
  }
}
